body {
    background-color:navy;
    color: yellow;
    font-size: xx-large;
    padding: 5%;
}
 
head {
    color:rgb(2, 27, 49)
    width: darksalmon;
    }

h1 { 
    color: yellow; ;
    border-radius: 5%;
    font-display: yellow;



}